/* You can add global styles to this file, and also import other style files */
.body {
  /*background-image: linear-gradient(rgb(200, 225, 255), rgb(253, 247, 247));*/
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}
